/* Mobile First */

/* Home Section */
.home {
    /* Your existing styles */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    /* Your existing styles */
    font-size: 4rem;
    margin: 20px;
    font-size: 8rem;
    color: cyan; /* Adjust font size for smaller screens */
}

.subheader {
    /* Your existing styles */
    font-size: 3rem;
    margin: 20px;
    font-size: 6rem;
    color: white; /* Adjust font size for smaller screens */
}

.nav li {
    /* Your existing styles */
    margin: 10px;
    font-size: 40px;
    /* Adjust margin for smaller screens */
}

/* About Section */
.about-heading {
    /* Your existing styles */
    font-size: 3rem;
    font-size: 5rem;
    color: greenyellow; /* Adjust font size for smaller screens */
}

.aboutme {
    /* Your existing styles */
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    padding: 5%;
    padding-top: 5%;
    font-size: 3rem;
 /* Adjust padding for smaller screens */
}

.aboutme li {
    /* Your existing styles */
    margin-top: 2%;
    list-style: none;
 /* Adjust margin for smaller screens */
}

/* Projects Section */
.card-container {
    /* Your existing styles */
    margin-top: 15vh;
    display: flex;
    justify-content: space-around; 
    flex-direction: column; /* Change to a column layout for smaller screens */
    margin-top: 5vh; /* Adjust margin for smaller screens */
    margin-bottom: 5vh; /* Adjust margin for smaller screens */
}

.card {
    /* Your existing styles */
    width: 80%; /* Adjust card width for smaller screens */
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px; /* Center-align cards */
}

/* Skills Section */
.skills {
    /* Your existing styles */
    width: 80%; /* Adjust width for smaller screens */
    max-width: none; /* Allow full width for smaller screens */
    margin: 5vh auto; /* Adjust margin for smaller screens */
}

/* Contact Section */
.contact-section {
    /* Your existing styles */
    flex-direction: column; /* Change to a column layout for smaller screens */
    align-items: center; /* Center-align items */
    margin: 10vh 0; /* Adjust margin for smaller screens */
}

.contact-item {
    /* Your existing styles */
    margin: 5px; /* Adjust margin for smaller screens */
}

.contact-item img {
    /* Your existing styles */
    width: 30px; /* Adjust image size for smaller screens */
}

.contact-item p {
    /* Your existing styles */
    font-size: 20px; /* Adjust font size for smaller screens */
}

/* Media Queries for Tablet and Desktop Screens */
@media only screen and (min-width: 768px) {
    /* Add styles specific to tablet screens */
}

@media only screen and (min-width: 1024px) {
    /* Add styles specific to desktop screens */
}