
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    font-size: 4rem;
    margin: 10px; 
    color: cyan;
}

.subheader {
    font-size: 3rem;
    margin: 10px; 
    color: white;
}

.nav li {
    margin: 5px; 
    font-size: 20px; 
}

/* About Section */
.about-heading {
    font-size: 3rem;
    color: greenyellow;
}

.aboutme {
    font-size: 1.5rem;
    padding: 5%;
}

.aboutme li {
    margin-top: 1%; 
}

/* Projects Section */
.card-container {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
    margin-bottom: 5vh; 
}

.card {
    width: 90%; 
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px; 
}

/* Skills Section */
.skills {
    width: 90%; 
    max-width: none; 
    margin: 5vh auto;
}

/* Contact Section */
.contact-section {
    flex-direction: column; 
    align-items: center; 
    margin: 5vh 0; 
}

.contact-item {
    margin: 3px; 
}

.contact-item img {
    width: 20px; 
}

.contact-item p {
    font-size: 16px; 
}

/* Media Queries for Tablet and Desktop Screens */
@media only screen and (min-width: 768px) {
    .header {
        font-size: 5rem; 
        margin: 20px;
    }

    .subheader {
        font-size: 4rem; 
        margin: 20px; 
    }

    .nav li {
        margin: 10px; 
        font-size: 45px;
    }

    .about-heading {
        font-size: 5rem;
    }

    .aboutme {
        font-size: 2rem; 
        padding: 7%;
        padding-top: 10%; 
    }

    .aboutme li {
        margin-top: 5%;
    }

    .card {
        width: 70%; 
    }

    .skills {
        width: 70%;
    }

    .contact-item {
        margin: 5px; 
    }

    .contact-item img {
        width: 25px; 
    }

    .contact-item p {
        font-size: 18px; 
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        font-size: 6rem;
        margin: 30px; 
    }

    .subheader {
        font-size: 5rem;
        margin: 30px; 
    }

    .nav li {
        margin: 15px; 
        font-size: 50px; 
    }

    .about-heading {
        font-size: 6rem; 
    }

    .aboutme {
        font-size: 2.5rem;
        padding: 10%;
        padding-top: 15%; 
    }

    .aboutme li {
        margin-top: 3%;
    }

    .card {
        width: 60%; 
    }

    .skills {
        width: 60%; 
    }

    .contact-item {
        margin: 8px; 
    }

    .contact-item img {
        width: 30px; 
    }

    .contact-item p {
        font-size: 20px; 
    }
}
