@font-face {
    font-family: computer;
    src: url(computer-says-no.ttf);
}
*{
    margin: 0;
    padding: 0;
    background-color: #252723;
    font-family: computer;
    font-size: 100;
    letter-spacing: 2px;
    scroll-behavior: smooth;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.header {
    margin: 20px;
    font-size: 8rem;
    color: cyan;
}
.subheader {
    margin: 20px;
    font-size: 6rem;
    color: white;
}
.nav {
    margin-top: 40px;
}
.nav ul {
    list-style: none;
    margin: 30px;
}
.nav li {
    margin: 30px;
    font-size: 40px;
}
.nav li a {
    text-decoration: none;
    color: white;
}
.nav li a:hover {
    color: orange;
    transition: 0.5s;
}
.about {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}
.about-heading {
    font-size: 5rem;
    color: greenyellow;
}
.aboutme {
    padding: 10%;
    padding-top: 5%;
    font-size: 3rem;
}

.aboutme li {
    list-style: none;
    margin-top: 3%;
}
.one {
    color: rgb(248, 82, 82);
}
.two {
    color: rgb(255, 255, 129);
}
.three {
    color: rgb(190, 121, 255);
}
.card-container {
    margin-top: 15vh;
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    margin-bottom: 15vh;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.card p {
    text-decoration: underline;
    font-size: 30px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card-content {
    display: flex;
    justify-content: space-around;
}
button {
    border: 2px;
    border-style: solid;
    border-color: #ccc;   
    padding: 10px;
    cursor: pointer;
}
button a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.skills {
    width: 100%;
    max-width: 500px; 
    margin: 15vh;
}

.skill {
    margin-bottom: 5vh;
}

.skill-name {
    font-size: 40px;
    padding-bottom: 20px;
}

.skill-bar {
    background: #ddd;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.skill-level {
    height: 100%;
    background: #0059ff; 
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.header span {
    animation: blink 1s infinite; 
}
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
}

.contact-item {
    margin: 0 10px;
}    

.contact-item img {
    width: 40px; 
    height: auto;
}
.contact-item a {
    text-decoration: none;
    position: relative;
    margin: 40px;
}

.contact-item p {
    font-size: 30px;
}

